td {
   line-height: 16pt;
   font-size: 10pt;
   font-family: "Verdana", "Arial", "Helvetica", "sans-serif";
}
a:link {
   text-decoration: none;
   color: #000000;
}
body {
   font-size: 10pt;
   line-height: 13pt;
   background-color: #ECF5FF;
}
textarea {
   font-size: 16pt;
   font-family: "Verdana", "Arial", "Helvetica", "sans-serif";
   border: 1px solid #999999;
   padding: 5px;
}
form {
   margin: 0px;
   padding: 0px;
}
.textdrow {
   color:#666666;
   filter: DropShadow(Color=white, OffX=1, OffY=1, Positive=1);
}
.p {
   text-indent: 24px;
}