img
{
	width: 100%;
	height: auto;
}
p
{
	font-size: 15px;
	font-style: italic;
	font-weight: bold;
}
body
{
	text-align:center;
    margin: 0;
}
img 
{
    display:inline-block;
}
ul 
{
    display:inline-block;
    margin: 0;
    padding: 0;
    width: 100%;
}
li
{
	float: left;
	list-style: none;
	width: 20%;
}
a
{
	font-size: 20px;
	font-weight: bold;
	text-align: center;
	color: black;
	display: block;
	height: 20px;
	padding: 15px;
	border: 1px;
	background-color:transparent;
	text-decoration: none;
} 
a:hover
{
	color: aqua;
	background-color: greenyellow;
}